<div [ngSwitch]="alerta">
  <div *ngSwitchCase="'primary'">
    <div class="alert alert-primary" role="alert">
      A simple primary alert—check it out!
    </div>
  </div>
  <div *ngSwitchCase="'secondary'">
    <div  class="alert alert-secondary" role="alert">
      A simple secondary alert—check it out!
    </div>
  </div>
  <div *ngSwitchCase="'success'">
    <div  class="alert alert-success" role="alert">
      A simple success alert—check it out!
    </div>
  </div>
  <div *ngSwitchCase="'danger'">
    <div  class="alert alert-danger" role="alert">
      A simple danger alert—check it out!
    </div>
  </div>
  <div *ngSwitchCase="'warning'">
    <div  class="alert alert-warning" role="alert">
      A simple warning alert—check it out!
    </div>
  </div>
  <div *ngSwitchCase="'info'">
    <div  class="alert alert-info" role="alert">
      A simple info alert—check it out!
    </div>
  </div>
  <div *ngSwitchCase="'light'">
    <div  class="alert alert-light" role="alert">
      A simple light alert—check it out!
    </div>
  </div>
  <div *ngSwitchCase="'dark'">
    <div  class="alert alert-dark" role="alert">
      A simple dark alert—check it out!
    </div>
  </div>
  <div *ngSwitchDefault>{{ alerta }}</div>
</div>

<button class="btn btn-primary" (click)="alerta = 'primary' ">primary</button>
<button class="btn btn-secondary" (click)="alerta = 'secondary' ">secondary</button>
<button class="btn btn-success" (click)="alerta = 'success' ">success</button>
<button class="btn btn-danger" (click)="alerta = 'danger' ">danger</button>
<button class="btn btn-warning" (click)="alerta = 'warning' ">warning</button>
<button class="btn btn-info" (click)="alerta = 'info' ">info</button>
<button class="btn btn-light" (click)="alerta = 'light' ">light</button>
<button class="btn btn-dark" (click)="alerta = 'dark' ">dark</button>
