<div class="alert alert-primary" role="alert">
  A simple primary alert—check it out!
</div>

<div [ngClass]="'alert-warning'" class="alert" role="alert">
  A simple primary alert—check it out!
</div>

<div [ngClass]="alerta" class="alert" role="alert">
  A simple primary alert—check it out!
</div>

<div class="text-center">
  <button type="button" class="btn btn-info mx-1" (click)="alerta = 'alert-info'">Info</button>
  <button type="button" class="btn btn-success mx-1" (click)="alerta = 'alert-success'">Success</button>
  <button type="button" class="btn btn-dark mx-1" (click)="alerta = 'alert-dark'">Dark</button>
</div>
