<div class="alert alert-primary" role="alert">
  A simple primary alert—check it out!
</div>

<div [ngClass]="'alert-warning'" class="alert" role="alert">
  A simple primary alert—check it out!
</div>

<div [ngClass]="alerta" class="alert" role="alert">
  A simple primary alert—check it out!
</div>

<div class="text-center">
  <button type="button" class="btn btn-info mx-1" (click)="alerta = 'alert-info'">Info</button>
  <button type="button" class="btn btn-success mx-1" (click)="alerta = 'alert-success'">Success</button>
  <button type="button" class="btn btn-dark mx-1" (click)="alerta = 'alert-dark'">Dark</button>
</div>

<br><br>

<h3 [ngClass]=" { 'text-danger': props.danger, 'text-info': !props.danger }">
  Hola mundo
</h3>

<button class="btn" [ngClass]=" { 'btn-danger': props.danger, 'btn-info': !props.danger }"
   (click)="props.danger = !props.danger">Cambiar</button>

<hr>
<h3>Proceso Asíncrono</h3>

<button class="btn btn-primary" (click)="ejecutarProceso()" [disabled]="loading">
  <i [ngClass]="{ 'fa-save': !loading, 'fa-refresh fa-spin': loading }" class="fa"></i>
  <span style="margin-left: 5px;" *ngIf="!loading" >Guardar Cambios</span>
  <span style="margin-left: 5px;" *ngIf="loading">Espere por favor</span>
</button>
